.title
  %h2
    Venue - Ekkada ?
%h3
  Muhurtham
%p
  16th December 2012 at 9:04 PM.
%p
  Edulakanti Ramreddy Function Hall</br>
  Sagar road, Hyderabad
%h3
  Reception
%p 
  18th December 2012 @ 8:00 P.M.</br>
  T.N.R. Gardens
  Nandipad Road, Miryalaguda
%br
%p
  %b Contact: 
%p
  %b Rajiv
  %br
  7842494322(India)
%p
  %b Swathi
  %br
  9866007451

%br

%h2{style: "text-align:center;"}
  Location
%br
%p{style: "text-align:center;"}
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=17.337494,78.546044&amp;aq=&amp;sll=17.337494,78.546044&amp;sspn=0.006298,0.006899&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=17.337494,78.546044&amp;output=embed"></iframe><br />