%h1
	New Message

	= render :partial => 'form'
%br

%p
	.box2
		%h3
			Guest Comments
		- @comments.each do |comment|
			.message_box
				%p
				= comment.message
				%br
				&#8722;
				= comment.name
				on
				= comment.created_at.localtime.strftime("%m/%d/%Y")
				%br