.title
  %h2
    Our Story
%h3
#imgContainer.pull-left
  =image_tag "rajiv1.jpg", size: "165x165"
.wedding-info
  %p
    Not the love at first sight nor the hundredth... I've known her all my life, but one fine day, as they say, six years ago started our journey towards this day... We weren't really friends to take that to the next level, ours is as unique a love story as every others is, same old fights and same old cries... To get To this day we fought she cried she won I sighed... So here we are to be Mister and Missus... Please make ur presence, which means really lot to us...




