.title
  %h2
    Our Story
%h3
#imgContainer.pull-left
  =image_tag "group1.jpg", size: "240x180"
.wedding-info
  %p{style: "font-family:ballpark; font-size: 18px;"}
    %span{style: "padding-left:20px;"}
      Not the love at first sight nor the hundredth... &nbsp;I've known her all my life, but one fine day, as &nbsp;they say,six years ago started our journey &nbsp;towards this day... We weren't really friends to &nbsp;take that to the next level, ours is as unique a &nbsp;love story as every others is, same old fights and &nbsp;same old cries... To get To this day we fought &nbsp;she cried she won I sighed... So here we are to &nbsp;be Mister and Missus... Please make ur &nbsp;presence,which means really lot to us...