.title
  %h2
    Bride & Groom
%h3{style: "text-align: center;"}
  =image_tag "engagement_1.jpg", size: "300x240"
%h3{style: "text-align: center;"}
  =image_tag "engagement2.jpg", size: "300x240"
%h3{style: "text-align: center;"}
  =image_tag "Front_page_Her1.jpg", size: "250x200"
%h3{style: "text-align: center;"}
  =image_tag "Front_Page_rajiv1.jpg", size: "250x200"
%h3{style: "text-align: center;"}
  =image_tag "group1.jpg", size: "250x200"
%h3{style: "text-align: center;"}
  =image_tag "group3.jpg", size: "250x200"
%h3{style: "text-align: center;"}
  =image_tag "group5.jpg", size: "250x200"
%h3{style: "text-align: center;"}
  =image_tag "group6.jpg", size: "250x200"
%h3{style: "text-align: center;"}
  =image_tag "group7.jpg", size: "250x200"